/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  /* max-width: 42em; */
  max-width: 77.5em;
}


/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.nav-white {
    color: white;
}

.nav-white:hover {
    color: white;
    /*font-weight: 500;*/
}

/*
 * Links
 */

.link-style {
    color: #5cb6ff;
    font-variant: small-caps;
}

.link-default {
    color: #5cb6ff;
}

.link-default:hover, .link-style:hover {
    /*color: #5c9aff;*/
    color: #459cff;
}

/*
 * Contact Button
 */

 .fa-twitter {
    background: #55ACEE;
    color: white;
  }

.fa {
    padding: 35px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-left: 25px;
}

.famarigin {
    margin-left: 8px;
}

.fa:hover {
    opacity: 0.7;
    color: white;
}

/*
 * Projects
 */

.prleft {
    margin-left: 10%;
    float: left;
}

.prright {
    margin-right: 10%;
    float: right;
}